:root {

  // 海棠
  --red-50: #fff1f2;
  --red-100: #ffe4e5;
  --red-200: #fdced3;
  --red-300: #fba6ae;
  --red-400: #f97384;
  --red-500: #f03752;
  --red-600: #de2045;
  --red-700: #bb153a;
  --red-800: #9d1437;
  --red-900: #861535;

  // 棠梨
  --orange-50: #faf5f2;
  --orange-100: #f4e8e0;
  --orange-200: #e9cfbf;
  --orange-300: #dbb096;
  --orange-400: #cb8a6c;
  --orange-500: #c06e4f;
  --orange-600: #b15a43; //
  --orange-700: #94483a;
  --orange-800: #783c34;
  --orange-900: #61332d;

  // 松花 #ffee6f
  --yellow-50: #fffde5;
  --yellow-100: #fff9c2;
  --yellow-200: #ffee6f;
  --yellow-300: #ffe347;
  --yellow-400: #f3ca7a;
  --yellow-500: #efb701;
  --yellow-600: #ca8b02;
  --yellow-700: #a46404;
  --yellow-800: #874e0d;
  --yellow-900: #734111;

  --green-50: #ecfdf3;
  --green-100: #d1fae1;
  --green-200: #a7f3c9;
  --green-300: #6ee7ac;
  --green-400: #34d38b;
  --green-500: #0fa968;
  --green-600: #05965c;
  --green-700: #04784c;
  --green-800: #065f3e;
  --green-900: #064e34;

  // 空青
  --hoki-50: #f3f7f8;
  --hoki-100: #e0e9ed;
  --hoki-200: #c5d4dc;
  --hoki-300: #9db5c3;
  --hoki-400: #66889e;
  --hoki-500: #527288;
  --hoki-600: #476073;
  --hoki-700: #3e5060;
  --hoki-800: #384552;
  --hoki-900: #323c47;

  // 东方既白
  --polo-blue-50: #f4f7fa;
  --polo-blue-100: #e6ebf3;
  --polo-blue-200: #d3dcea;
  --polo-blue-300: #b4c5dc;
  --polo-blue-400: #8ba3c7; //
  --polo-blue-500: #768dbb;
  --polo-blue-600: #6376ad;
  --polo-blue-700: #58679d;
  --polo-blue-800: #4c5581;
  --polo-blue-900: #404868;

  // 苍苍
  --steel-blue-50: #f4f5fb;
  --steel-blue-100: #e8ebf6;
  --steel-blue-200: #ccd4eb;
  --steel-blue-300: #9fb0da;
  --steel-blue-400: #6b86c5;
  --steel-blue-500: #5976ba;
  --steel-blue-600: #374f92;
  --steel-blue-700: #2d4077;
  --steel-blue-800: #293863;
  --steel-blue-900: #263154;

  // 菘蓝
  --slate-gray-50: #f4f6f7;
  --slate-gray-100: #e3e7ea;
  --slate-gray-200: #c9cfd8;
  --slate-gray-300: #a4aebc;
  --slate-gray-400: #6b798e;
  --slate-gray-500: #5c697e;
  --slate-gray-600: #4f596b;
  --slate-gray-700: #444b5a;
  --slate-gray-800: #3d424d;
  --slate-gray-900: #363943;

  // 暮山紫
  --purple-50: #f3f5fa;
  --purple-100: #e9edf6;
  --purple-200: #d7ddee;
  --purple-300: #bec6e3;
  --purple-400: #a4abd6; // 暮山紫
  --purple-500: #8c90c8;
  --purple-600: #7574b7; // 优昙瑞
  --purple-700: #6462a0;
  --purple-800: #525182;
  --purple-900: #464769;

}
